#conflicts{
    width:100%;
}

.scroll{
    float:left;
    width:49%;
    overflow-y: auto;
    height: 400px;
    border: solid 2px;
    background-color: white;
}

.line{
    color: black;
    margin: 4px;
    border: solid 1px;
    width: 100%;
    /*background-color: #c2efc2;*/
}

/* Profile */

.con_name a:hover{
    background-color: white;
}

ul li{
    list-style-type: none;
    float: left;    
}