{% extends 'home/base.html' %}

{% load static %}

{% block content %}

{% load home_extras %}
            <div id="wrapper2" class="padding-on-extra-large-screens"> 
                <article id="conflict" class="active" style="display: block;width:auto">
                    <div class="table-wrapper">

            {% if message %}

                <h3 class="alert"><strong style="color: #e74c3c;font-weight: bolder;">{{ message }}</strong></h3>

            {% endif %}

            {% if clauses %}

                {% if conflicts %}

                    <h4 id='test_text'>Conflicts</h4>

                    <select id="selector">
                        <option value="none">-</option>

                        {% for conflict in conflicts %}

                            <option class="conflict" value="{{ conflict|get_index:0 }}_{{ conflict|get_index:1 }}_{{ conflict|get_index:2 }}">{{ conflict|get_index:1 }} - {{ conflict|get_index:2 }} Confidence: {{ conflict|get_index:3 }}%</option>

                        {% endfor %}
                        
                    </select>

                    <p></p>
                    <p></p>

                {% else %}
                    <h4>No conflicts found!</h4>
                {% endif %}

                <div class = "row">
                    <div id='first_table' style=" overflow: auto; height: 400px;  width: 50%; float: left;">
                            <table id="table1" ><!--style="height: 400px;"> -->
                                <tbody>
                                    {% for cls in cls_obj %}
                                        <tr id='first_{{ cls.clause_id }}'>
                                            <td>
                                                {{ cls.clause_id }}
                                            </td>                                    
                                            <td>
                                                {{ clauses|get_text:cls.clause_id }}
                                            </td>                                        
                                        </tr>                                  
                                    {% endfor %}
                                </tbody>
                             </table>
                        </div>                                   
                    <div id='second_table' style="overflow: auto; height: 400px; width: 50%; float: right; ">
                           <table id="table2">
                                <tbody>
                                    {% for cls in cls_obj %}
                                        <tr id="second_{{ cls.clause_id }}">

                                            <td>
                                                {{ cls.clause_id }}
                                            </td>
                                            
                                            <td>
                                                {{ clauses|get_text:cls.clause_id }}
                                            </td>                                        
                                        </tr>                                
                                    {% endfor %}                      
                                </tbody>
                            </table>
                    </div>
               </div>

            {% endif %}

                        <div class="alt">    
                
                                <p>Please, upload a contract to start our processing.</p>
                                 
                                <p>Have no contracts but want to test? <a href="https://github.com/JoaoPauloAires/potential-conflict-identifier/tree/master/code/data/manufacturing" target='_blank'><b>Here</b></a> we have some contracts.</p>

                               <!--  <tr>
                                    <td class="before_upload">
                                        <a class="button small">Inspect</a>
                                        <a href="#" class="button ">Select</a>
                                        <a href="#" class="button ">Generate</a>
                                        <a href="#" class="button special icon fa-download">Download</a>
                                    </td>
                                </tr>
                                <tr> -->
                                    <form id="file_form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <span>
                                            Select a Model to use. 
                                        </span>

                                        <select name="select_model">
                                            <option value="cnn">
                                                CNN model
                                            </option>
                                            <option value="msc">
                                                Rule-based model
                                            </option>
                                        </select>
                                        <br/>
                                        <!-- estava assim antes(o novo ta abaixo), o id é diferente, nao sei se esse id interfere em algo, mas acho que nao<input type="file" name="up_file" id="fileToUpload"> data: 28/07/2017 by Catarina Nogueira-->
                                      
                                        
                                         <!--choose file button-->
                                        <input type="file" name="up_file" id="file" class="inputfile" />
                                        <label for="file">Choose a file</label>
                                         <!--choose file button-->
                                         
                                        <!--upload button-->
                                        <input type="submit" value="Upload" id='upload_button' name="up_file">
                                        <!--upload button-->
                                    </form>
                                </tr>

                                
                                <p>Check our <a href="{% url 'home:model_description' %}">model description</a>.</p>

                                <!-- <br/>
                                <p>
                                    <a href="{% url 'home:profile' %}}">Check the contracts you've already uploaded.</a>
                                </p> -->
                                

                      
                        </div>
                    </div>
                
                </article>
            </div>
{% endblock %}
