{% extends 'home/base.html' %}

{% block content %}

                {% load static %}                
                <!-- Intro -->
                <div class="padding-on-extra-large-screens"> 
                    <header id="header">
                        <div class="content content-with-explanation">
                            <div class="inner">
                                <article id="intro">
                                    <center><h2 class="major">Contact</h2></center>
                                    <p>
                                        This project is part of a PhD research, if you need some extra information, mail us!
                                    </p>
                                    <p> 
                                        Check our project's Github: <a href="https://github.com/mir-pucrs/concon-front-end">ConCon</a>
                                    </p>
                                        <ul>
                                            <li>PhD student: João Paulo Aires (joao.aires.001@acad.pucrs.br)</li>
                                            <li>Advisor: Dr. Felipe Rech Meneguzzi (felipe.meneguzzi@pucrs.br)</li>                                            
                                        </ul>
                                </article>                                    
                            </div>  
                        </div>
                </header>
            </div>
{% endblock %}
