{% extends 'home/base.html' %}

{% load static %}

{% block content %}

{% load home_extras %}


<div id="wrapper2">


            {% if clauses %}

            {% if conflicts %}
               <article id="contract" class="active contract-adjust-padding" style="display: block;">

                <div class="table-wrapper">

            <h2>{{ con_name }}</h2>

            <h3 id='test_text'>Conflicts Found</h3>

            <select id="selector">
                <option value="none">-</option>

                {% for conflict in conflicts %}

                <option class="conflict" value="{{ conflict|get_index:0 }}_{{ conflict|get_index:1 }}_{{ conflict|get_index:2 }}">{{ conflict|get_index:1 }} - {{ conflict|get_index:2 }} Confidence: {{ conflict|get_index:3 }}%</option>

                {% endfor %}

            </select>

            <p></p>
            <p></p>

            {% else %}
            <h4>No conflicts found!</h4>
            {% endif %}

             <div id="instructions" style="display:none;">
                <article>
                    <h2 class="major">Instructions</h2>
                    <p>
                        In order to submit a new conflict, make sure that you selected two norms that configure a real conflict and were not already classified by our classifier.
                    </p>
                    <div class="close" id="close">Close</div>
                </article>
            </div>
            <div id="success" style="display:none;">
                <article>
                    <h2 class="major">Success</h2>
                    <p>Thanks for helping us, we deleted the false conflict.</p>
                    <div class="close" id="close">Close</div>
                </article>
            </div>
            <div id="error_conf" style="display:none;">
                <article>
                    <h2 class="major">We've got a problem</h2>
                    <p>Don't worry, we will solve this soon.</p>
                    <div class="close" id="close">Close</div>
                </article>
            </div>            
            <div id="error" style="display:none;">
                <article>
                    <h2 class="major">Both are the same!</h2>
                    <p>Please, choose a conflicting case that consists of different norms.</p>
                    <div class="close" id="close">Close</div>
                </article>
            </div>
            <div id="confirm" style="display:none;">
                <article>
                    <h3 class="major">Are you sure you want to submit this conflict?</h3>
                    <p>Please, certify that this is a real conflict!</p>
                    <div class="close" id="close">Close</div>
                    <button class="confirmTheConflict">OK</button>
                </article>
            </div>

            <div class = "row">
                <div id='first_table' style=" overflow: auto; height: 400px;  width: 50%; float: left;">
                    <table id="table1" ><!--style="height: 400px;"> -->
                        <tbody class="allContract-right">
                            {% for cls in cls_obj %}

                            <tr id='first_{{ cls.clause_id }}' class="btn-group-right">
                                <td> 
                                    {{ cls.clause_id }}
                                </td>                                    
                                <td>
                                    {{ clauses|get_text:cls.clause_id }}
                                </td>                                        
                            </tr> 

                            {% endfor %}
                        </tbody>
                    </table>
                </div>                                   
                <div id='second_table' style="overflow: auto; height: 400px; width: 50%; float: right; ">
                     <table id="table2">
                        <tbody class="allContract-left">
                            {% for cls in cls_obj %}
                            <tr id="second_{{ cls.clause_id }}" class="btn-group-left">

                                <td>
                                    {{ cls.clause_id }}
                                </td>

                                <td>
                                    {{ clauses|get_text:cls.clause_id }}
                                </td>                                        
                            </tr>                                
                            {% endfor %}                      
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 align="center" style="margin-top: 24%" class="changeText" >Help Us!</h2>
            <div align="center" id="anotherOne" style="display:none;"> <button>Submit another one?</button></div>
            <div class = "row">
                <div id='submit' style=" overflow: auto; width: 50%; float: left;">
                    <table>
                        <tbody>
                            <div id="{{user.id}}" class="userId">
                                <h3 class="submitNewConflict">Submit a new conflict by clicking in two norms you <br>think are conflicting!</h3>
                                <!-- <select name="select_type" style="width: 50%; margin:2%">
                                    {% for conf_type in conf_types %}

                                        <option value="{{ conf_type }}">{{ conf_types|get_text:conf_type }}</option>

                                    {% endfor %}
                                </select> -->
                                <button id="submitNewConflict" type="button" class="align-center ">Submit a new Conflict!</button>
                            </div>
                        </tbody>
                    </table>
                </div>                                   
                <div id='remove' style="overflow: auto; width: 50%; float: right; ">
                     <table id="table2">
                        <tbody >
                            <div>
                                <div id="correct" name="{{ selected_model }}"></div>
                            </div>             
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                <!-- <div class="margin-top">          
                    
                </div>         -->
    </div>
</article>
        {% else %}
    <article id="contract" class="active contract-adjust-padding2" style="display: block;">
        <h4 class="title-of-contracts-of-user">Contract: {{ contract.con_name }}</h4>
        <h4 class="subtitle-of-contracts-of-user">Choose the classifier to process this contract.</h4>
        <p>Check our <a href="{% url 'home:model_description' %}">model description</a>.</p>
        <form id="file_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="select_model">
                <option value="emb">
                    Embedding model
                </option>
                <option value="cnn">
                    CNN model
                </option>
                <option value="msc">
                    Rule-based model
                </option>                
            </select>
            <br/>
            <input type="submit" value="Open" id='select'>
        </form>
    </article>
        {% endif %}

</div>
          


</div> 

{% endblock %}
