{% extends 'home/base.html' %}

{% block content %}

                {% load static %}                
                <!-- Intro -->
                <div class="padding-on-extra-large-screens"> 
                    <header id="header">
                        <div class="content content-with-explanation">
                            <div class="inner">
                                <article id="intro">
                                    <center><h2 class="major">Intro</h2></center>
                                    <p>
                                        Contracts and electronic contracts consist of a set of norms defining what is expected from the parties during the contract validation.
                                        However, norms may conflict between each other in two ways, first, by presenting different deontic meanings applied to the same context and the same party, such as permission x obligation, permission x prohibition, and obligation x prohibition.
                                        Second, conflicts may arise due to conflicting norm conditions or norm descriptions.
                                        Such conflicts create a contract inconsistency that can invalidate the conflicting norms and even contracts.
                                    </p>
                                    <p> 
                                        In this project, we aim to develop an approach to reason about complex norms in natural language documents, typically contracts, and detect norm conflicts and contract inconsistencies.
                                    </p>

                                    <p>
                                        Check out the description of our models <a href="{% url 'home:model_description' %}">here</a>!
                                    </p>
                                </article>
                            </div>  
                        </div>
                </header>
            </div>
{% endblock %}
