{% extends 'home/base.html' %}

{% block content %}
            <!-- Register -->
            <div id="wrapper2">         
                <article id="register">
                    <h2 class="major">Register</h2>
                    <form method='post' id='reg_form' name="registration">
                        <!-- <div class="field half first">
                            <label for="name_reg">Name</label>
                            <input type="text" name="name_reg" id="name_reg" />
                        </div>                                    
                        <div class="field half">
                            <label for="username_reg">Username</label>
                            <input type="text" name="username_reg" id="username_reg" />
                        </div>
                        <div class="field half first">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field half">
                            <label for="passwordN1">Password</label>
                            <input type="password" name="passwordN1" id="passwordN1" />
                        </div>
                        <div class="field half first">
                            <label for="passwordN2">Password Confirmation</label>
                            <input type="password" name="passwordN2" id="passwordN2" />
                        </div> -->
                        {% csrf_token %}
                        {% for field in form %}
                          <p></p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          <p></p>
                        {% endfor %}

			<h2>Terms of use</h2>
			<p> By clicking on the "Register" button, you accept to colaborate with our project allowing us to use any uploaded contract as dataset for training our conflict identifier models.</p>
                        <div class="field half" style="margin-top: 45px;">
                            <ul class="actions">
                                <li><input type="submit" value="Register" name="register" id="register_button" class="special"/></li>
                            </ul>
                        </div>
                    </form>
                    
                </article>
            </div>
{% endblock %}
