{% extends 'home/base.html' %}

{% block content %}

                {% load static %}                
                <!-- Intro -->
                <div id="wrapper2" class="padding-on-extra-large-screens"> 
                    <header id="header">
                        <div class="content">
                            <div class="inner">
                                <article id="intro">
                                    <center><h2 class="major">Terms of Use</h2></center>
                                    <p>
                                        By registering in our website you accept to colaborate with our project allowing us to use any uploaded contract as dataset for our experiments.

                                    </p>
                                </article>
                            </div>  
                        </div>
                </header>
            </div>
{% endblock %}
