{% extends 'home/base.html' %}

{% block content %}

            <!-- Login -->
            <article id="login">
                <h2 class="major">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    <!-- <div class="field half first">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="name" />
                    </div>
                    <div class="field half">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                    </div> -->
                    {{ form.as_p }}
                    
                    <p>
                        <a href="{% url 'password_reset' %}">
                            Forgot my password
                        </a>
                    </p>
                    


                    <ul class="actions">
                        <li><input type="submit" value="Login" name="login" id='login_button' class="special" /></li>
                        <li><a href="{% url 'home:register' %}">Register</a></li>
                    </ul>
                </form>
            </article>

{% endblock %}