{% extends 'home/base.html' %}


 {% block content %}
  {% if validlink %}
            <article id="resetPassword">
                <h2 class="major">Change password</h2>
                <form method="post">
                   {% csrf_token %}
                  {{ form.as_p }}
                <button type="submit">Change password</button>
              </form>
              </article>
            {% else %}
               <div class="padding-on-extra-large-screens"> 
                    <header id="header">
                        <div class="content content-with-explanation">
                            <div class="inner">
                                <article id="intro">
                                  <p>
                                    The password reset link was invalid, possibly because it has already been used.
                                    Please request a new password reset.
                                  </p>
                                </article>
                            </div>  
                        </div>
                </header>
            </div>  
  {% endif %}
{% endblock %}
            

