{% extends 'home/base.html' %}

{% block content %}

            <!-- Header -->
            <header id="header">
                <div class="content">
                    <div class="inner">
                        <h1>Contract Conflicts</h1>
                        <p><!--[-->A project envisioning a faster search of<!--]--><br />
                         conflicts on contracts.<!--[--><!--]--></p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home:intro' %}">Intro</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'home:conflict' %}">Conflict</a></li>
                        {% endif %}    
                        <li><a href="{% url 'home:about' %}">About</a></li>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <!-- <li><a href="logout.php">Logout</a></li> -->
                    </ul>
                </nav>
            </header>

{% endblock %}