{% extends 'home/base.html' %}

{% block content %}

            <article id="work">
                <h2 class="major">Instructions</h2>
                <!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
                <h4>A regular norm has the following structure</h4>
                <ul>
                    <li>Example 1</li>
                    <ul>
                        <li>“Purchaser must pay the product taxes.”</li>
                    </ul>
                </ul>
                <h4>Given a regular norm, you will have to alter it in order to generate a conflict. If you got the Example 1, you may choose to create either a <u>Permission x Obligation</u> conflict or an <u>Obligation x Prohibition</u> conflict. In the first case (Permission x Obligation), a possible modification can be described as follows:</h4>
                <ul>
                    <li>Example 2</li>
                    <ul>
                        <li>“Purchaser must pay the product taxes.”</li>
                    </ul>
                </ul>
                <h4>To ensure that you are really making a conflict, use the following Table as a guide</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Modal Verb</th>
                                <th>Deontic Meaning</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>can</td>
                                <td>permission</td>
                            </tr>
                            <tr>
                                <td>may</td>
                                <td>permission</td>
                            </tr>
                            <tr>
                                <td>must</td>
                                <td>obligation</td>
                            </tr>
                            <tr>
                                <td>ought</td>
                                <td>obligation</td>
                            </tr>
                            <tr>
                                <td>shall</td>
                                <td>obligation</td>
                            </tr>
                            <tr>
                                <td>will</td>
                                <td>obligation</td>
                            </tr>
                            <tr>
                                <td>modal_verb not</td>
                                <td>prohibition</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>You may also modify the structure after the modal verb creating a conflict and altering the conflict structure (obviously maintaining the same meaning), as the Example 3 shows.</p>
                <ul>
                    <li>Example 3</li>
                    <ul>
                        <li>“Purchaser may choose to pay the taxes related to the product.”</li>
                    </ul>
                    
                </ul>
                <h4>Click on submit, and that's it! Thanks for the help!</h4>
            </article>
{% endblock %}